html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(235, 223, 223);
}

.container {
    width: 100%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    text-align: center;
}

.menu {
    width: 800px;
    margin: 0 auto;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}

.button-start {
    outline: none;
    border: 4px outset rgb(200, 200, 200);
}

.button-start:active {
    border-style: ridge;
}

.game-table {
    /* border-collapse: collapse; */
    margin: 30px auto;
    table-layout: fixed;
    cursor: default;
    border: 6px ridge rgb(230, 230, 230);
    background-color: gray;
}

.game-table td {
    width: 26px;
    height: 26px;
    padding: 0;
    border: 2px outset rgb(230, 230, 230);
    text-align: center;
    vertical-align: middle;
    font-size: 22px;
    font-weight: 700;
    overflow: hidden;
}

.game-table td:active {
    border-style: ridge;
}

.game-table td>img {
    position: absolute;
    margin: -12px 0 0 -12px;
}

.color-1 {
    color: rgb(0, 0, 209);
}

.color-2 {
    color: rgb(4, 138, 216);
}

.color-3 {
    color: rgb(0, 202, 169);
}

.color-4 {
    color: rgb(45, 207, 5);
}

.color-5 {
    color: rgb(207, 211, 0);
}

.color-6 {
    color: rgb(231, 158, 0);
}

.color-7 {
    color: rgb(211, 0, 0);
}

.color-8 {
    color: rgb(212, 1, 160);
}

.color-q {
    color: black;
}