body {
    background-color: azure;
}
.container{
    width: 500px;
    margin: 0 auto;
    border: 2px solid black;
    padding: 10px;
    background-color: rgb(197, 193, 193);
    border-radius: 10px;
}
.movie-image{
    width: 100%;
    border-radius: 6px;
}
.caption{
    display: block;
    text-align: center;
}
.description{
    height: 100px;
    overflow: auto;
}